@charset "UTF-8";
.c-linkbtn {
  padding: 0 15px 0;
  margin-bottom: 60px;
}
.c-linkbtn .link_btn_inner {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.c-linkbtn .link_btn_inner li {
  margin: 0 auto 30px;
}
.c-linkbtn .link_btn_inner li .link_btn_inner_link {
  width: 320px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  background-color: #004080;
  font-size: 1.8rem;
  line-height: 1.2;
  position: relative;
  overflow: hidden;
  border: 1px solid #004080;
  text-decoration: none;
  transition: color 0.3s;
}
.c-linkbtn .link_btn_inner li .link_btn_inner_link span {
  z-index: 2;
}
.c-linkbtn .link_btn_inner li .link_btn_inner_link::after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  right: 35px;
  transform-origin: center;
  transition: border, right 0.3s;
  z-index: 2;
}
.c-linkbtn .link_btn_inner li .link_btn_inner_link::before {
  content: "";
  width: 105%;
  height: 105%;
  background-color: #fff;
  z-index: 1;
  left: -2.5%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  top: -2.5%;
  position: absolute;
}
.c-linkbtn .link_btn_inner li .link_btn_inner_link:hover {
  color: #004080;
  transition: color 0.3s;
}
.c-linkbtn .link_btn_inner li .link_btn_inner_link:hover::after {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  border-right: 2px solid #004080;
  border-bottom: 2px solid #004080;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  right: 35px;
  transform-origin: center;
  transition: border, right 0.3s;
  z-index: 2;
}
.c-linkbtn .link_btn_inner li .link_btn_inner_link:hover::before {
  content: "";
  width: 105%;
  height: 105%;
  background-color: #fff;
  z-index: 1;
  left: -2.5%;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s;
  top: -2.5%;
  position: absolute;
}
.c-linkbtn .link_btn_inner li:last-child {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .c-linkbtn {
    padding: 0 30px 0;
    margin-bottom: 60px;
  }
  .c-linkbtn .link_btn_inner {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }
  .c-linkbtn .link_btn_inner li {
    margin: 0 auto 30px;
  }
  .c-linkbtn .link_btn_inner li .link_btn_inner_link {
    width: 320px;
    height: 80px;
    display: flex;
    justify-content: cenfter;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    background-color: #004080;
    font-size: 2rem;
    line-height: 1.2;
  }
  .c-linkbtn .link_btn_inner li:last-child {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .c-linkbtn {
    padding: 0 60px 0;
    margin-bottom: 100px;
  }
  .c-linkbtn .link_btn_inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
  }
  .c-linkbtn .link_btn_inner li {
    margin: 0;
    width: 31%;
  }
  .c-linkbtn .link_btn_inner li .link_btn_inner_link {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .c-linkbtn .link_btn_inner li:last-child {
    margin: 0;
  }
}

.search-input-wrap {
  display: block;
  text-align: center;
  margin: 0 auto 40px;
}
.search-input-wrap #searchform {
  width: auto;
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}
.search-input-wrap #searchform input {
  border: 1px solid #666666;
  height: 50px;
  width: 320px;
  font-size: 1.6rem;
  padding-left: 8px;
  background-color: #fff;
  padding-right: 40px;
}
.search-input-wrap #searchform input[type=submit] {
  background: url(/common/images/icon-search.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: 24px;
  border: none;
  height: 24px;
  bottom: 0;
  margin: auto 0;
  right: 10px;
  background-size: contain;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .search-input-wrap {
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: #004080;
    padding: 0 0 60px;
  }
}

#contents #contact #contact_title {
  margin-bottom: 60px;
}
#contents #contact #contact_title .title_en {
  font-family: "Big Shoulders Text", sans-serif;
  margin: 0;
  font-size: 4rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: 100;
  letter-spacing: 5px;
  line-height: 1.2;
}
#contents #contact #contact_title .title {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 3px;
}
#contents #contact #contact_mail p {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}
#contents #contact #contact_mail .contact_mail_link {
  background-color: rgb(226, 0, 18);
  background-image: linear-gradient(135deg, rgb(226, 0, 18), rgb(141, 0, 0));
  width: 320px;
  height: 60px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto 60px;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 2.1rem;
  font-weight: bold;
  align-items: center;
}
#contents #contact #contact_mail .contact_mail_link::after {
  position: absolute;
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  right: 20px;
  transform-origin: center;
}
#contents #contact #contact_mail .contact_mail_link span {
  position: relative;
  padding-left: 2.8rem;
}
#contents #contact #contact_mail .contact_mail_link span::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 20px;
  background-image: url(common/images/mail_ico.png);
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  left: 0;
  border: none;
}
#contents #contact #contact_telephone {
  display: flex;
  flex-flow: column;
}
#contents #contact #contact_telephone p {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}
#contents #contact #contact_telephone h3 {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}
#contents #contact #contact_telephone .contact_telephone {
  font-family: "Big Shoulders Text", sans-serif;
  margin: 0 0 30px;
  font-size: 5rem;
  font-weight: 300;
  text-decoration: none;
}
#contents #contact #contact_telephone .contact_telephone_link {
  background-color: rgb(226, 0, 18);
  background-image: linear-gradient(135deg, rgb(226, 0, 18), rgb(141, 0, 0));
  width: 320px;
  height: 60px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto 40px;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 1.8em;
  font-weight: bold;
  align-items: center;
}
#contents #contact #contact_telephone .contact_telephone_link::after {
  position: absolute;
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  right: 20px;
  transform-origin: center;
}
#contents #contact #contact_telephone .contact_telephone_link span {
  position: relative;
  padding-left: 2.8rem;
}
#contents #contact #contact_telephone .contact_telephone_link span::before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 18px;
  background-image: url(common/images/tel_ico.png);
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  left: 0;
  border: none;
}
@media screen and (min-width: 768px) {
  #contents #contact #contact_title .title_en {
    font-size: 8rem;
  }
  #contents #contact #contact_title .title {
    font-size: 1.8rem;
  }
  #contents #contact #contact_mail p {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  #contents #contact #contact_mail .contact_mail_link {
    background-color: rgb(226, 0, 18);
    background-image: linear-gradient(135deg, rgb(226, 0, 18), rgb(141, 0, 0));
    width: 400px;
    height: 70px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto 60px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 2.4rem;
    font-weight: bold;
    align-items: center;
  }
  #contents #contact #contact_mail .contact_mail_link::after {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
    right: 20px;
    transform-origin: center;
  }
  #contents #contact #contact_mail .contact_mail_link span {
    position: relative;
    padding-left: 2.8rem;
  }
  #contents #contact #contact_mail .contact_mail_link span::before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 20px;
    background-image: url(common/images/mail_ico.png);
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    left: 0;
    border: none;
  }
  #contents #contact #contact_telephone {
    display: flex;
    flex-flow: column;
  }
  #contents #contact #contact_telephone p {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  #contents #contact #contact_telephone h3 {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  #contents #contact #contact_telephone .contact_telephone {
    font-family: "Big Shoulders Text", sans-serif;
    margin: 0 0 30px;
    font-size: 7rem;
    font-weight: 300;
    text-decoration: none;
  }
  #contents #contact #contact_telephone .contact_telephone_link {
    background-color: rgb(226, 0, 18);
    background-image: linear-gradient(135deg, rgb(226, 0, 18), rgb(141, 0, 0));
    width: 400px;
    height: 70px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto 40px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 2.4rem;
    font-weight: bold;
    align-items: center;
  }
  #contents #contact #contact_telephone .contact_telephone_link::after {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
    right: 20px;
    transform-origin: center;
  }
  #contents #contact #contact_telephone .contact_telephone_link span {
    position: relative;
    padding-left: 2.8rem;
  }
  #contents #contact #contact_telephone .contact_telephone_link span::before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 20px;
    background-image: url(common/images/tel_ico.png);
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    left: 0;
    border: none;
  }
}
@media screen and (min-width: 1024px) {
  #contents #contact #contact_title .title_en {
    font-size: 8rem;
  }
  #contents #contact #contact_title .title {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1280px) {
  #contents #contact #contact_title .title_en {
    font-size: 8rem;
  }
  #contents #contact #contact_title .title {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=contact.css.map */