@use "../global" as *;
@use "../object" as *;
@use "../../common/css/layout" as *;


#l-internalTop {
    margin-top: 60px;
    height: 120px;
    position: relative;
    .l-internalTop__ornamentLeft {
        position: absolute;
        width: 140px;
        top: -24px;
        @include mq(lg){
            margin-top: 100px;
            width: 180px;
            top: -42px;
            left: 192px;
        }
    }
    .l-internalTop__ornamentRight {
        position: absolute;
        width:  150px;
        right: -24px;
        bottom: 0;
        @include mq(lg){
            width: 250px;
            right: 32px;
        }
    }
    h1.l-internalTop__title {
        width: 30vw;
        position: absolute;
        top: 50%;
        left: 0%;
        right: 0;
        transform: translateY(-50%);
        @include mq(md){
            width: 25vw;
        }
        @include mq(lg){
            width: 18vw;
        }
    }
    img {
        width: 100%;
    }
}

#p-aboutUsContents {
    background-color: #FFF4E6;
    .p-aboutUsContents__infoArea{
        &-box1{
            margin-top: 16px;
        }
    }
    .p-aboutUsContents{
        padding: 40px 8px 0;
        max-width: 1050px;
        margin: 0 auto;
        @include mq(md){
            padding: 64px 24px 0;
        }
    }
    .p-aboutUsContents__infoArea {
        &-title {
            background-image: url(../images/about-us/sticky_sp.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            padding: 16px;
            h2 {
                font-size:  1.6rem;
                font-weight: bold;
                @include mq(md){
                    font-size: 1.7rem;
                }
            }
        }
    }
    .p-aboutUsContents__item{
        display: flex;
        flex-flow: column;
        margin-bottom: 32px;
        text-align: center;
        @include mq(md){
            flex-flow: wrap;
            width: 100%;
        }
    }
    .p-profile__list{
        &-head{
        text-align: left;
        color: #FF8900;
        font-weight: bold;
        font-size: 1.3rem;
        &:not(:first-child){
            padding-top: 16px;
        }
        @include mq(md){
            width: 30%;
            border-bottom: 1px solid #FFC042;
            padding: 16px 0;
            font-size: 1.6rem;
        }
        }
    }
    .p-profile__list{
        &-body{
        text-align: left;
        padding-bottom: 16px;
        border-bottom: 1px solid #FFC042;
        font-size: 1.3rem;
        margin-top: 8px;
        @include mq(md){
            margin: 0;
            width: 70%;
            padding: 16px 0;
            font-size: 1.6rem;
        }
        }
    }
    ol.p-numberlist{
        list-style-type: decimal;
        padding-left: 15px;
        line-height: 1.5;
    }
    .p-aboutUsContents__infoArea-box2{
        border: solid #4DC0B2;
        border-width: 5px 2px 2px 2px;
        padding: 8px;
        text-align: center;
        background-color: #FFF;
        @include mq(md){
            width: 456px;
            margin: 0 auto;
        }
    }
    .p-aboutUsContents__infoArea-box2 a{
        text-decoration: none;
    }
    .p-aboutUsContents__infoArea-box2 b {
        font-size: 1.3rem;
        display: block;
        padding-bottom: 8px;
        border-bottom: solid 1px #4DC0B2;
        width: 100%;
        color: #4DC0B2;
        @include mq(md){
            font-size: 1.6rem;
        }
      }
      .l-footer__top-companyLogo {
        display: flex;
        flex-flow: row nowrap;
      }
      .l-footer__top-companyLogo img {
        width: 100%;
      }
      .p-aboutUsContents__policy {
        padding-top: 40px;
        max-width: 1050px;
        margin: 0 auto;
        &-list {
            display: block;
            background-color: #FFF;
            border-radius: 20px;
            height: auto;
            text-align: center;
            padding: 16px;
            @include mq(md){
                padding: 32px;
            }
            li{
                text-align: left;
                &:not(:first-child){
                    margin-top: 16px;
                }
            }
            span{
                font-size: 1.3rem;
                font-weight: bold;
                background-color: #37AB9D;
                color: #FFF;
                border-radius: 20px;
                display: flex;
                width: 88px;
                height: 24px;
                justify-content: center;
                align-items: center;
                @include mq(md){
                    font-size: 1.6rem;
                }
            }
            p{
                margin-top: 8px;
                font-size: 1.3rem;
                @include mq(md){
                    font-size: 1.6rem;
                }
            }
        }
        
      }
      .p-aboutUsContents__philosophy{
        padding-bottom: 420px;
        max-width: 1050px;
        margin: 0 auto;
      }
      .p-aboutUsContents__inner{
        &-text1{
            p{
                font-size: 1.3rem;
                font-weight: bold;
                @include mq(md){
                    font-size: 1.6rem;
                }
            }
        }
        &-text2{
            margin-top: 40px;
            .p-aboutUsContents__inner-weightBold{
                font-weight: bold;
                font-size: 1.4rem;
                @include mq(md){
                    font-size: 1.7rem;
                }
                @include mq(lg){
                    font-size: 1.8rem;
                }
            }
            p{
                font-size: 1.3rem;
                @include mq(md){
                    font-size: 1.6rem;
                }
            }
        }
      }
      .p-aboutUsContents__comment {
        padding: 16px 16px 0;
        background-color: #FFF;
        border-radius: 20px;
        margin-top: 40px;
        @include mq(md){
            display: flex;
        }
        &-textBox{
            text-align: left;
            @include mq(md){
                width: auto;
            }
        }
        &-title{
            font-size: 1.3rem;
            font-weight: bold;
            @include mq(md){
                font-size: 1.6rem;
            }
            @include mq(lg){
                font-size: 2.3rem;
            }
        }
        &-sentencs{
            font-size: 1.3rem;
            @include mq(md){
                font-size: 1.6rem;
            }
        }
        &-illustBox{
            text-align: right;
            margin-top: 16px;
            @include mq(md){
                margin: 0 0 0 30px;
            }
            img{
                width: 140px;
                box-sizing: border-box;
                height: 180px;
                object-fit: cover;
                object-position: top;
                @include mq(md){
                    width: 150px;
                }
            }
        }
      }

}






#p-firstView {
    padding: 0 32px;
    overflow: hidden;
    position: relative;
    height: auto;
    background-image: url(../images/front-page/fv_background_sp.png);
    border-image-repeat: no-repeat;
    background-size: cover;
    img {
        width: 100%;
    }
    .p-firstView-inner {
        margin: 80px auto 0;
        // width: 90vw;
        // margin: 80px auto;
        // position: absolute;
        // left: 0;
        // right: 0;
        &--subtitle {
            width: 40vw;
            display: flex;
            margin: 0 0 0 auto;
        }
        &--title {
            margin-top: 16px;
            width: 75vw;
        }
        &--illust {
            width: 63%;
            margin: 32px auto 0;
        }
    }
    
    #p-firstView__banner {
        position: absolute;
        width: 100%;
        bottom: 160px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        cursor: pointer;
        &.bottom {
            bottom: 50px;
        }
        &--bottomArea {
            width: 60%;
            max-width: 240px;
            display: block;
            margin-top: 20px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    @include mq(md) {
        #p-firstView__banner {
            position: absolute;
            width: 100%;
            &.bottom {
                bottom: 50px;
            }
        }
    }
    @include mq(lg) {
        #p-firstView__banner {
            position: absolute;
            bottom: 50px;
            width: auto;
            display: flex;
            flex-flow: row nowrap;
            padding: 0 50px;
            justify-content: flex-start;
            align-items: center;
        }
    }
}
.p-main {
    position: relative;
    margin: 0;
    @include mq(md) {
    }
    .p-main__ornament {
        img {
            width: 100%;
        }
        .ornament_parts {
            position: absolute;
        }

    }
}
#p-frontContents {
    background-color: #FBD98D;
    @include paddingSide(64px);
    background-image: url(../images/front-page/main_background_sp.png);
    border-image-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 400px;
    position: relative;
    @include mq(md) {
        background-image: url(../images/front-page/main_background.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    img {
        width: 100%;
    }
}
.p-main__ornament {
    position: relative;
    &--sticky1 {
        position: absolute;
        width: 40vw;
        right: -50px;
    }
    &--sticky2 {
        position: absolute;
        width: 50vw;
        top: 200px;
        right: -100px;
    }
    &--sticky3 {
        position: absolute;
        width: 50vw;
        top: 700px;
        left: -50px;
    }
    &--paper1 {
        position: absolute;
        width: 65vw;
        left: -150px;
    }
    &--paper2 {
        position: absolute;
        width: 70vw;
        top: 1060px;
        right: -100px;
    }
    &--iphone {
        position: absolute;
        width: 70vw;
        top: 1600px;
        right: -200px;
    }
}
.p-frontContents__title {
    position: sticky;
    span {
        font-size: 1.3rem;
        @include mq(lg) {
            font-size: 1.8rem;
        }
    }
    &--img {
        width: 100px;
        text-align: center;
        font-size: revert;
        margin-top: 8px;
        @include mq(lg) {
            width: 150px;
        }
    }
}

ul.p-contentsList {
    margin-top: 24px;
    .p-contentsList__box {
        position: relative;
        width: 100%;
        .p-contentsList__boxInner {
            position: absolute;
            left: 0;
            right: 0;
            top: 32px;
            width: 85%;
            margin: 0 auto;
            b {
                letter-spacing: revert;
                font-size: 1.3rem;
                @include mq(lg) {
                    font-size: 1.6rem;
                }
                &::before {
                    content: "";
                    display: block;
                    width: 33px;
                    height: 33px;
                    background-image: url(../images/front-page/top_ornament_pin_ye.webp);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -30px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
            &--name {
                font-size: 1.4rem;
                margin-top: 8px;
                display: block;
                @include mq(lg) {
                    font-size: 1.6rem;
                }
            }
        }
        
        
        .p-contentsList__middle {
            display: flex;
            flex-flow: nowrap;
            justify-content: space-between;
            margin-top: 12px;
            &--img {
            width: 49%;
            }
            &--text {
                display: flex;
                flex-flow: column;
                justify-content: center;
                width: 45%;
                text-align: left;
                b {
                    letter-spacing: revert;
                    font-size: 1.3rem;
                    @include mq(lg) {
                        font-size: 1.6rem;
                    }
                }
                ul {
                    li {
                        font-size: 1.3rem;
                        margin-top: 8px;
                    }
                }
            }
        }
        
        
        .p-contentsList__bottom {
            font-family: "Zen Maru Gothic", serif;
            line-height: 1.5;
            margin-top: 16px;
            font-size: 1.3rem;
            @include mq(lg) {
                font-size: 1.6rem;
            }
        }
        &:nth-child(2n) {
            .p-contentsList__boxInner {
                b {
                    &::before {
                        content: "";
                        display: block;
                        width: 33px;
                        height: 33px;
                        background-image: url(../images/front-page/top_ornament_pin_or.webp);
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: -30px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    } 
                }
            }
        }
        &:nth-child(3n) {
            .p-contentsList__boxInner {
                b {
                    &::before {
                        content: "";
                        display: block;
                        width: 33px;
                        height: 33px;
                        background-image: url(../images/front-page/top_ornament_pin_ma.webp);
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: -30px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    } 
                }
            }
        }
    }
    
}
.l-footer__contact {
    img {
        width: 100%;
    }
}