@use "../global" as *;
@use "../object" as *;
@use "../layout" as *;
@use "../../common/css/layout" as *;

#l-internalTop__blogArea {
    margin-top: 64px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/blog/top_background.png);
    color: #fff;
    text-align: center;
    background-position: center;
    background-size: cover;
    @include mq(md){
    }
    @include mq(lg){
      height: 200px;
    }
    h1 {
      font-size: 2rem;
      margin-top: 8px;
      @include mq(md){
        font-size: 2.3rem;
      }
      @include mq(lg){
      }
    }
    h2 {
      font-size: 1.3rem;
      @include mq(md){
        font-size: 1.6rem;
      }
      @include mq(lg){
      }
    }
    span {
      font-size: 1.3rem;
      margin-top: 8px;  
      display: block;
      @include mq(md){
        font-size: 1.6rem;
      }
      @include mq(lg){
      }
    }
  }
  #breadcrumb{
    padding: 10px 15px;
    line-height: 1.5;
      .breadcrumb_inner{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row nowrap;
        overflow-x: auto;
        white-space: nowrap;
      }
      .breadcrumb{
        position: relative;
        font-size: 1.3rem;
        &:not(:last-child){
          padding-right: 2.4rem;
        }
      }
      .breadcrumb_link{
        color: #000;
        text-decoration: underline;
        font-size: 1.3rem;
        &:after{
          content: "＞";
          color: #000;
          display: block;
          position: absolute;
          right: 0.4rem;
          top: 45%;
          transform: translateY(-50%);
        }
      }
  }
#contents{
  margin-top: 32px;
  padding: 0 24px 420px;
  max-width: 1050px;
  @include mq(lg){
    padding-bottom: 800px;
  }
  .blog-list{
    margin-top: 48px;
    .blog-inner{
      &:not(:last-child){
        margin-bottom: 32px;
        border-bottom: solid 1px #D0D0D0;
        padding-bottom: 64px;
      }
      .p-blogContents__blog{
        &-img{
          width: 100%;
          height: auto;
          @include mq(lg){
            position: relative;
            top: 0;
            right: 0;
          }
          img{
            width: 100%;
            @include mq(lg){
              width: 40%;
              position: absolute;
              right: 0;
              top: 0;
              transform: translate(0);
            }
          }
        }
      }
      .p-blogContents__blog{
        &-linkBox{
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          h2.blog-title{
            font-size: 2rem;
            font-weight: bold;
            text-align: left;
            margin: 20px 0 0;
            @include mq(md){
              font-size: 2.3rem;
            }
          }
          .date-box {
            display: flex;
            flex-flow: nowrap;
            align-items: center;
            margin: 16px 0 8px;
            .blog-date{
              font-size: 1.8rem;
              margin-right: 16px;
              @include mq(md){
                font-size: 1.6rem;
              }
            }
            .category{
              display: flex;
              justify-content: center;
              border-radius: 20px;
              align-items: center;
              width: 100px;
              height: 32px;
            }
            .cat_daily {
              background: #FF7C9F;
              color: #FFF;
              font-size: 1.6rem;
            }
            .cat_products{
              background: #37AB9D;
              color: #FFF;
              font-size: 1.6rem;
            }
            .cat_notice{
              background: #FF8900;
              color: #FFF;
              font-size: 1.6rem;
            }
          }
          .blog-text {
            text-align: left;
            margin: 0;
            font-size: 1.6rem;
          }
          .p-blogContents__blog{
            &-button{
              display: flex;
              justify-content: center;
              border-radius: 60px;
              align-items: center;
              width: 230px;
              height: 60px;
              background: #FFF;
              margin-top: 32px;
              border: 1px solid #FF8900;
              .blog-archive-link{
                text-decoration: none;
              }
              span {
                font-size: 1.8rem;
                color: #FF8900;
              }
            }
          }
        }
      }
    }
  }
  #p-archiveArea__right{
    width: 100%;
    margin: 80px 0 0;
    @include mq(lg){
      margin-top: 180px;
    }
    .p-archiveArea__title {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
      padding-bottom: 16px;
      h3 {
        font-size: 1.6rem;
        margin: 0 8px 0 0;
        font-weight: bold;
      }
      span {
        font-size: 1.3rem;
      }
    }
    .post_archive {
      text-align: center;
      border-bottom: 1px solid #707070;
      padding-bottom: 16px;
      li {
        font-size: 1.6rem;
        line-height: 1.8;
      }
      a {
        text-decoration: none;
      }
    }
  .p-categoryList {
    width: 100%;
    margin-top: 32px;
    .p-categoryList__title{
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
      h3 {
        font-size: 1.6rem;
        margin: 0 8px 0 0;
        font-weight: bold;
      }
      span {
        font-size: 1.3rem;
      }
    }
    .p-categoryList__category {
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      margin: 32px 0 0;
      a {
        text-decoration: none;
        color: #FFF;
      }
      .cat {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        align-items: center;
        width: 100px;
        height: 32px;
      }
      .cat-item2 {
        background: #FF8900;
        font-size: 1.6rem;
      }
      .cat-item6 {
        background: #37AB9D;
        font-size: 1.6rem;
      }
      .cat-item5{
        background: #FF7C9F;
        font-size: 1.6rem;
      }
    }
  }
}
}