@use "../global" as *;
@use "../object" as *;
@use "../layout" as *;
@use "../../common/css/layout" as *;

#l-internalTop__blogArea {
    margin-top: 64px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/blog/top_background.png);
    color: #fff;
    text-align: center;
    background-position: center;
    background-size: cover;
    @include mq(md){
    }
    @include mq(lg){
      height: 200px;
    }
    h1 {
      font-size: 2rem;
      margin-top: 8px;
      @include mq(md){
        font-size: 2.3rem;
      }
      @include mq(lg){
      }
    }
    h2 {
      font-size: 1.3rem;
      @include mq(md){
        font-size: 1.6rem;
      }
      @include mq(lg){
      }
    }
    span {
      font-size: 1.3rem;
      margin-top: 8px;  
      display: block;
      @include mq(md){
        font-size: 1.6rem;
      }
      @include mq(lg){
      }
    }
}
  #breadcrumb{
    padding: 10px 15px;
    line-height: 1.5;
      .breadcrumb_inner{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row nowrap;
        overflow-x: auto;
        white-space: nowrap;
      }
      .breadcrumb{
        position: relative;
        font-size: 1.3rem;
        &:not(:last-child){
          padding-right: 2.4rem;
        }
      }
      .breadcrumb_link{
        color: #000;
        text-decoration: underline;
        font-size: 1.3rem;
        &:after{
          content: "＞";
          color: #000;
          display: block;
          position: absolute;
          right: 0.4rem;
          top: 45%;
          transform: translateY(-50%);
        }
      }
  }

#p-singleContents{
  .p-singleContents__inner{
    padding-bottom: 400px;
    .p-singleContents__left{
      width: 100%;
      margin-bottom: 40px;
      .p-postContent__area{
        .p-postTitle__area{
          display: flex;
          flex-flow: column;
          text-align: left;
          margin: 0 0 16px;
          h1{
            margin: 0 0 10px;
            font-size: 1.6rem;
            font-weight: bold;
          }
          time{
            font-size: 1.4rem;
          }
        }
        .post_content{
          a{
            text-decoration: none;
            &.category {
              display: flex;
              justify-content: center;
              border-radius: 20px;
              align-items: center;
              width: 100px;
              height: 32px;
              margin: 0 0 10px;
            }
            &.cat_daily {
              background: #FF7C9F;
              color: #FFF;
              font-size: 1.6rem;
            }
            &.cat_products{
              background: #37AB9D;
              color: #FFF;
              font-size: 1.6rem;
            }
            &.cat_notice{
              background: #FF8900;
              color: #FFF;
              font-size: 1.6rem;
            }
          }
          p{
            text-align: justify;
            font-size: 1.4rem;
            line-height: 2;
            margin: 0;
            border-top: 1px solid #707070;
            padding: 10px 0 0;
          }
        }
      }
      .paging{
        margin: 24px 0 0;
        .prev_next_list {
          display: flex;
          justify-content: space-between;
          margin: 0 0 24px;
        }
        .prev {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 32px;
          border: #FFC042 1px solid;
          a {
            text-decoration: none;
          }
          span {
            font-size: 1.4rem;
          }
        }
        .next {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 32px;
          border: #FFC042 1px solid;
          a {
            text-decoration: none;
          }
          span {
            font-size: 1.4rem;
          }
        }
      }
    }
    #p-archiveArea__right{
      width: 100%;
      .p-archiveArea__title {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #707070;
        padding-bottom: 16px;
        h3 {
          font-size: 1.6rem;
          margin: 0 8px 0 0;
          font-weight: bold;
        }
        span {
          font-size: 1.3rem;
        }
      }
    }
    .p-categoryList {
      width: 100%;
      margin-top: 32px;
      .p-categoryList__title{
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 16px;
        h3 {
          font-size: 1.6rem;
          margin: 0 8px 0 0;
          font-weight: bold;
        }
        span {
          font-size: 1.3rem;
        }
      }
      .p-categoryList__category {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        .cat_daily {
          background: #FF7C9F;
          color: #FFF;
          font-size: 1.6rem;
        }
        .cat_products{
          background: #37AB9D;
          color: #FFF;
          font-size: 1.6rem;
        }
        .cat_notice{
          background: #FF8900;
          color: #FFF;
          font-size: 1.6rem;
        }
      }
    }
    
  }
}