@use "../global" as *;
@use "../object" as *;
@use "../layout" as *;
@use "../../common/css/layout" as *;

#l-internalTop{
    .l-internalTop__ornamentRight{
        img{
            box-sizing: border-box;
            object-fit: cover;
            object-position: top;
            width: 120px;
            height: 110px;
            @include mq(md){
                width: 156px;
                height: 140px;
            }
            @include mq(lg){
                width: 230px;
                height: 200px;
            }
        }
    }
}

#c-contactContents{
    background-color: #FFF4E6;
    .p-contactPage__lead{
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }
}