@use "../global" as *;
@use "../object" as *;
@use "../layout" as *;
@use "../../common/css/layout" as *;

#l-internalTop {
    .l-internalTop__ornamentLeft {
        position: absolute;
        width: 120px;
        bottom: 0;
        left: 8px;
        @include mq(md){
            left: 48px;
        }
        @include mq(lg){
            bottom: 0;
            left: 260px;
        }
    }
    .l-internalTop__ornamentRight{
        position: absolute;
        right: 8px;
        bottom: 0;
        @include mq(md){
            right: 48px;
        }
        @include mq(lg){
            right: 260px;
        }
        img{
            box-sizing: border-box;
            object-fit: cover;
            object-position: top;
            width: 100px;
            height: 110px;
        }
    }
    h1.l-internalTop__title {
        width: 30vw;
        position: absolute;
        top: 50%;
        left: 0%;
        right: 0;
        transform: translateY(-50%);
        max-width: 185px;
        @include mq(md){
            width: 25vw;
        }
        @include mq(lg){
            width: 18vw;
        }
    }
    img {
        width: 100%;
    }
}

#p-insuranceContents{
    background-color: #F7E4E9;
    .p-insuranceContents__insuranceArea{
        background-image: url(../images/insurance/background_bottom.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 400px;
    }
    .p-insuranceContents__insuranceBox{
        display: block;
        border-radius: 20px;
        background-color: #FFF;
        margin-top: 48px;
        max-width: 1050px;
        @include mq(md){
            margin-top: 80px;
        }
        &:first-child{
            margin: 0;
        }
        &-title{
            h2{
                font-size: 1.4rem;
                font-weight: bold;
                padding: 16px;
                background-color: #FF7C9F;
                border-radius: 20px 20px 0 0;
                color: #FFF;
                @include mq(md){
                    font-size: 2.3rem;
                    padding: 24px;
                }
            }
        }
        
        &-whiteArea{
            padding: 16px;
            @include mq(md){
                padding: 24px;
            }
            img{
                width: 100%;
            }
            b{
                color: $black;
                font-size: 1.3rem;
                @include mq(md){
                    font-size: 1.8rem;
                }
            }
            &-inner{
                text-align: left;
                @include mq(lg){
                    display: flex;
                    flex-flow: wrap;
                    justify-content: space-between;
                }
                ul{
                    margin-top: 24px;
                    &:last-child{
                        width: 50%;
                        @include mq(lg){
                            width: 48%;
                        }
                    }
                    &:first-child{
                        width: 50%;
                        @include mq(lg){
                            width: 48%;
                        }
                    }
                    li{
                        color: $black;
                        font-size: 1.3rem;
                        margin-top: 8px;
                        &:first-child{
                            margin: 0;
                        }
                        @include mq(md){
                            font-size: 1.6rem;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
}