@use "../global" as *;
@use "../object" as *;
@use "../layout" as *;
@use "../../common/css/layout" as *;

#l-internalTop {
    margin-top: 60px;
    height: 120px;
    position: relative;
    @include mq(lg){
        margin-top: 100px;
        height: 200px;
    }
    .l-internalTop__ornamentLeft {
        position: absolute;
        width: 120px;
        bottom: 0;
        left: 8px;
        @include mq(md){
            left: 48px;
        }
        @include mq(lg){
            left: 100px;
        }
        img{
            width: auto;
            height: 132px;
            box-sizing: border-box;
            object-fit: cover;
            object-position: top;
            @include mq(lg){
                height: 210px;
            }
        }
    }
    .l-internalTop__ornamentRight{
        position: absolute;
        right: 8px;
        bottom: 0;
        @include mq(md){
            right: 48px;
        }
        @include mq(lg){
            right: 100px;
        }
        img{
            box-sizing: border-box;
            object-fit: cover;
            object-position: top;
            height: 113px;
            width: 150px;
            @include mq(md){
                height: 136px;
                width: 180px;
            }
            @include mq(lg){
                height: 180px;
                width: 240px;
            }
        }
    }
    h1.l-internalTop__title {
        width: 30vw;
        position: absolute;
        top: 50%;
        left: 0%;
        right: 0;
        transform: translateY(-50%);
        max-width: 185px;
        @include mq(md){
            width: 25vw;
        }
        @include mq(lg){
            width: 18vw;
        }
    }
    img {
        width: 100%;
    }
}
#p-usefulinfoContents{
    background-color: #DEFFFB;
    .p-usefulinfoContents__usefulinfoArea{
        background-image: url(../images/usefulinfo/background_bottom.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 400px;
        @include mq(lg){
            padding-bottom: 640px;
        }
    }
    .p-usefulinfoContents__usefulinfoBox{
        &-title{
            h2{
                font-size: 1.4rem;
                font-weight: bold;
                @include mq(md){
                    font-size: 2.3rem;
                }
            }
        }
        &-whiteArea{
            display: block;
            border-radius: 20px;
            background: #FFF;
            margin-top: 40px;
            border: 1px solid #4DC0B2;
            @include mq(md){
                max-width: 1050px;
                margin-top: 64px;
            }
            &-inner{
                padding: 16px;
                display: flex;
                flex-flow: column;
                justify-content: start;
                @include mq(md){
                    padding: 40px;
                }
            }
            b{
                font-size: 1.4rem;
                text-align: left;
                @include mq(md){
                    font-size: 1.8rem;
                }
            }
            p{
                font-size: 1.3rem;
                text-align: left;
                line-height: 1.5;
                padding: 8px 0;
                margin: 0;
                @include mq(md){
                    font-size: 1.6rem;
                    padding: 24px 0;
                }
            }
        }
        &-btn{
            display: flex;
            background: #4DC0B2;
            border-radius: 0 50px 50px 0;
            padding: 16px;
            width: 252px;
            height: 50px;
            justify-content: center;
            align-items: center;
            @include mq(md){
                padding: 24px;
                width: 320px;
                height: 64px;
            }
            a{
                text-decoration: none;
                font-size: 1.3rem;
                color: #FFF;
                :after{
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-top: 1px solid #FFF;
                    border-right: 1px solid #FFF;
                    transform: rotate(45deg);
                    transform-origin: top right;
                    display: inline-block;
                    border-radius: 1px;
                    transition: 0.3s ease-in-out;
                    position: absolute;
                    top: 50%;
                    right: -20px;
                }
                :hover:after{
                    right: -40px;
                }
                @include mq(md){
                    font-size: 1.6rem;
                }
            }
        }
        

    }
}