@use "../global" as *;
/*******************************
			footer
*******************************/
#footer_link_area{
    #footer_title{
        position: relative;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        align-items: center;
        .title_en{
            margin: 0;
            font-size: 3rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-weight: 100;
            color: #004080;
            line-height: 1.3;
            font-family: "Noto Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 900;
            font-style: normal;
            font-variation-settings:"wdth" 100;
            position: relative;
            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 90px;
                height: 1px;
                bottom: -10px;
                transform: translateY(-50%) translateX(-50%);
                left: 50%;
                background-color: #004080;
            }
        }
    }
    .link_btn{
        padding: 0 15px 0;
        margin-bottom: 60px;
        .link_btn_inner {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
            li {
                margin: 0 auto 30px;
                .link_btn_inner_link{
                    width: 280px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    color: #fff;
                    background-color: #004080;
                    font-size: 1.8rem;
                    line-height: 1.2;
                    position: relative;
                    overflow: hidden;
                    border: 1px solid #004080;
                    text-decoration: none;
                    transition: color 0.3s;
                    span {
                        z-index: 2;
                        text-align: center;
                    }
                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 12px;
                        height: 12px;
                        border-right: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                        transform: translateY(-50%) rotate(-45deg);
                        top: 50%;
                        right: 35px;
                        transform-origin: center;
                        transition: border, right 0.3s;
                        z-index: 2;
                    }
                    &::before {
                        content: "";
                        width: 105%;
                        height: 105%;
                        background-color: #fff;
                        z-index: 1;
                        left: -2.5%;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 0.3s;
                        top: -2.5%;
                        position: absolute;
                    }
                    &:hover{
                        color: #004080;
                        transition: color 0.3s;
                        &::after {
                            position: absolute;
                            display: block;
                            content: "";
                            width: 12px;
                            height: 12px;
                            border-right: 2px solid #004080;
                            border-bottom: 2px solid #004080;
                            transform: translateY(-50%) rotate(-45deg);
                            top: 50%;
                            right: 35px;
                            transform-origin: center;
                            transition: border, right 0.3s;
                            z-index: 2;
                        }
                        &::before {
                            content: "";
                            width: 105%;
                            height: 105%;
                            background-color: #fff;
                            z-index: 1;
                            left: -2.5%;
                            transform: scaleX(1);
                            transform-origin: left;
                            transition: transform 0.3s;
                            top: -2.5%;
                            position: absolute;
                          }
                    }
                }
                &:last-child{
                    margin: 0 auto;
                }
              }
          }
    }
    @include mq(md) {
        background-color: #e4e7ea;
        padding: 100px 0;
        .link_btn{
            padding: 0 30px 0;
            margin-bottom: 0;
            .link_btn_inner {
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                li {
                    margin: 0 auto 30px;
                    .link_btn_inner_link{
                        width: 320px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        color: #fff;
                        background-color: #004080;
                        font-size: 2rem;
                        line-height: 1.2;
                    }
                    &:last-child{
                        margin: 0 auto;
                    }
                  }
              }
        }
    }
    @include mq(lg) {
        #footer_title{
            margin-bottom: 60px;
        }
        .link_btn{
            padding: 0 30px 0;
            max-width: 1100px;
            margin: 0 auto;
            .link_btn_inner {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                max-width: 1100px;
                margin: 0 auto;
                li {
                    margin: 0;
                    width: 31%;
                    .link_btn_inner_link{
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                    }
                    &:last-child{
                        margin: 0;
                    }
                  }
              }
        }
    }
}
footer {
    height: auto;
    display: block;
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding: 0;
    box-sizing: border-box;
    #footer-site-logo {
        width: 280px;
        margin: 0 auto;
    }
    #footer_global_nav {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        background-color: #004080;
        height: auto;
        margin-bottom: 60px;
        padding: 0;
        .footer_global_nav {
            margin: 0;
            text-align: left;
            border-bottom: 1px solid #fff;
            &.first{
                border-bottom: 0px solid #fff;
            }
            .footer_global_nav_block {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;
                .footer_global_nav_link{
                    font-size: 1.8rem;
                    color: #fff;
                    text-decoration: none;
                    padding: 20px 0 20px 20px;
                    display: block;
                    width: calc(100% - 30px);
                    position: relative;
                    &::before {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-right: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        transform: translateY(-50%) rotate(-45deg);
                        top: 50%;
                        left: 0;
                        transform-origin: center;
                    }
                }
                .arrow {
                    display: block;
                    width: 20px;
                    height: 20px;
                    z-index: 2;
                    background-color: transparent;
                    position: relative;
                    transform: rotateX(0deg);
                    transition: transform .5s;
                    cursor: pointer;
                    &::after{
                        position: absolute;
                        display: block;
                        content: "";
                        width: 12px;
                        height: 12px;
                        border-right: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        transform: translate(-50%,-50%) rotate(45deg);
                        top: 35%;
                        left: 50%;
                        transform-origin: center;
                    }
                    &.open{
                        transform: rotateX(180deg);
                        transition: transform .5s;
                    }
                }
            }
            &.parent{
                .footer_child {
                    display: none;
                    border-top: 1px dotted #fff;
                    padding: 0 15px;
                    .footer_gran_child {
                        border-bottom: 1px dashed #fff;
                        &:last-child {
                            border-bottom: 0px dashed #fff;
                        }
                        .footer_menu_gran_child_link {
                            color: #fff;
                            text-decoration: none;
                            font-size: 1.6rem;
                            padding: 15px 0 15px 15px;
                            display: block;
                            position: relative;
                            &::before {
                                position: absolute;
                                display: block;
                                content: "";
                                width: 8px;
                                height: 8px;
                                border-right: 1px solid #fff;
                                border-bottom: 1px solid #fff;
                                transform: translateY(-50%) rotate(-45deg);
                                top: 50%;
                                left: 0;
                                transform-origin: center;
                            }
                        }
                    }
                  }
            }
            &.single{
                .footer_global_nav_block{
                    border-top : 1px solid #fff;
                }
            }
        }
        .footer_global_nav_flex{
            &:first-child{
                .footer_global_nav_flex_list{
                    .footer_global_nav{
                        &.single{
                            &:first-of-type{
                                .footer_global_nav_block{
                                    border-top: 0px solid #fff;
                                }
                            }
                        }
                    }
                }
            }
            &:last-child{
                .footer_global_nav_flex_list{
                    .footer_global_nav{
                        &.single{
                            border-bottom: 0px solid #fff;
                        }
                    }
                }
            }
            .footer_global_nav_flex_list{
                .footer_global_nav{
                    &.parent{
                            border-bottom: 0px solid #fff;
                            &:nth-child(2){
                                border-top: 1px solid #fff;
                            }
                    }
                    &.graduate{
                            border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
    #footer_address{
        display: flex;
        flex-flow: column;
        margin: 0 auto;
        justify-content: flex-start;
        align-items: center;
        .kogyokusha_logo{
            display: block;
            width: 160px;
            height: auto;
            margin: 0 auto 30px;
        }
        .kogyokusha_logo_white{
            display: none;
        }
        #footer_address_text_area{
            text-align: center;
            margin: 0 auto 20px;
            p{
                font-size: 1.3rem;
                line-height: 1.6;
                &.footer_telephon{
                    font-size: 1.6rem;
                    font-weight: bold;
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .search-input-wrap {
        display: block;
        text-align: center;
        margin: 0 auto 40px;
        #searchform {
            width: auto;
            position: relative;
            max-width: 320px;
            margin: 0 auto;
            input {
                border: 1px solid #666666;
                height: 50px;
                width: 320px;
                font-size: 1.6rem;
                padding-left: 8px;
                background-color: #fff;
                padding-right: 40px;
              }
            input[type="submit"] {
                background: url(common/images/icon-search.png);
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                width: 24px;
                border: none;
                height: 24px;
                bottom: 0;
                margin: auto 0;
                right: 10px;
                background-size: contain;
                padding: 5px;
            }
        }
    }
    #copyright {
        font-size: 1.3rem;
        text-align: center;
        color: #1a1a1a;
        background-color: #fff;
        padding: 20px 0;
        border-top: 1px solid #004080;
    }
    @include mq(md) {
        background-color: #e4e7ea;
        padding: 0;
        #footer-site-logo {
          width: 410px;
        }
        #footer_global_nav {
            flex-flow: row wrap;
            justify-content: space-between;
            max-width: 1100px;
            margin: 0 auto 60px;
            padding: 0 30px;
            background-color: #e4e7ea;
            .footer_global_nav{
                border-bottom: 0px solid #fff;
                margin: 0 0 10px;
                .footer_global_nav_block{
                    padding: 0;
                    .footer_global_nav_link {
                        font-size: 1.6rem;
                        padding: 15px 0 15px 1.6rem;
                        width: auto;
                        color: #004080;
                        font-weight: bold;
                        &:hover{
                            text-decoration: underline;
                            opacity: 0.8;
                        }
                        &::before {
                            border-right: 1px solid #004080;
                            border-bottom: 1px solid #004080;
                          }
                    }
                    .arrow {
                        display: none;
                    }
                }
                &.parent{
                    .footer_child {
                        display: block !important;
                        border-top: 0px dotted #fff;
                        padding: 0;
                        .footer_gran_child {
                            border-bottom: 0px dashed #fff;
                            .footer_menu_gran_child_link {
                                color: #004080;
                                text-decoration: none;
                                font-size: 1.4rem;
                                padding: 12px 0 12px 15px;
                                display: block;
                                position: relative;
                                &:hover{
                                    text-decoration: underline;
                                    opacity: 0.8;
                                }
                                &::before {
                                    border-right: 1px solid #004080;
                                    border-bottom: 1px solid #004080;
                                } 
                            }
                            &.two_lines{
                                .footer_menu_gran_child_link {
                                    line-height: 1.6;
                                    &::before {
                                        top: 34%;
                                    }
                                }
                            }
                        }
                    }
                } 
                &.single{
                    .footer_global_nav_block {
                        border-top: 0px solid #fff;
                        .footer_global_nav_link {
                            font-size: 1.6rem;
                            padding: 15px 0 15px 1.6rem;
                            width: auto;
                            color: #004080;
                            font-weight: bold;
                            &::before {
                                border-right: 1px solid #004080;
                                border-bottom: 1px solid #004080;
                            }
                        }
                    }
                }
            }
            .footer_global_nav_flex{
                .footer_global_nav_flex_list{
                    .footer_global_nav{
                        &.parent{
                            &:nth-child(2){
                                border-top: 0px solid #fff;
                            }
                        }
                        &.graduate{
                                border-bottom: 0px solid #fff;
                        }
                    }
                }
            }
        }
        #footer_address {
            display: flex;
            flex-flow: row nowrap;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            background-color: #004080;
            padding: 60px 0 30px;
            .kogyokusha_logo {
                display: none;
            }
            .kogyokusha_logo_white{
                display: block;
                width: 240px;
                height: auto;
                margin: 0 20px 0 0;
            }
            #footer_address_text_area {
                text-align: left;
                margin: 0;
                color: #fff;
                p{
                    &.footer_telephon{
                        a{
                            &.tyokutsu{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
        .search-input-wrap {
            display: block;
            text-align: center;
            margin: 0 auto;
            background-color: #004080;
            padding: 0 0 60px;
        }
        #copyright {
            font-size: 1.3rem;
            text-align: center;
            color: #fff;
            background-color: #004080;
            padding: 20px 0 60px;
            border-top: 1px solid #fff;
        }
    }
    @include mq(lg) {
        padding: 0;
        
    }
    @include mq(xl) {

        
    }
}