@use "../../../scss/global" as *;
/*******************************
			header
*******************************/
.l-header {
    display: block;
    width: 100%;
    position: fixed;
    z-index: var(--header);
    padding: 10px 15px;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 64px;
    filter: drop-shadow(0px 5px 10px transparent);
    transition: filter 1s;
    transform: translateZ(0);
    border-top: solid 4px #FF8900;
        &.shadow{
            filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.2));
            transition: filter 1s;
            transform: translateZ(0);
        }
    @include mq(lg) {
        display: flex;
        justify-content: space-between;
        height: 120px;
        padding: 15px 30px 0px;
    }
    .l-header__title {
        width: auto;
        height: 40px;
        z-index: var(--logo);
        display: inline-block;
        position: absolute;
        top: 10px;
        @include mq(md) {
            height: 55px;
        }
        @include mq(md) {
            top: 20px;
        }
        .l-header__link{
            picture {
                img {
                    width: 50px;
                }
            }
            .l-header__sitelogo {
                width: auto;
                display: block;
                @include mq(xl) {
                    width: auto;
                    height: 55px;
                    display: block;
                }
            }
        }
        .l-header__sitelogo {
            width: auto;
            height: auto;
            display: block;
            height: 40px;
        }
    }
    .l-header__right {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        z-index: var(--header);
        height: 60px;
        @include mq(lg) {
            // position: relative;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
            width: 100%;
        }
    }
}

.l-globalnav{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: none;
    top: 60px;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: $white;
    &.open{
        height: calc(var(--vh, 1vh) * 100);
        @include mq(lg) {
            height: auto;
            min-height: auto;
        }
    }
    @include mq(lg) {
        width: calc(576vw / 10.24);
        display: block !important;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        min-height: auto;
        overflow-y: visible;
    }
    
    .l-globalnav__inner{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        height: auto;
        padding: 60px 0;
        margin-bottom: 60px;
        @include mq(lg) {
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 0;
            margin-bottom: 0;
        }
        .icon_img {
            width: 50px;
          }
        .l-globalnav__list{
            margin: 0 20px;
            text-align: left;
            border-bottom: 1px solid $black;
            margin: 0 20px;
            font-size: 1.8rem;
            color: $black;
            text-decoration: none;
            @include mq(lg) {
                margin: 0 ;
                padding: 0;
                border: 0;
                position: relative;
                // width: calc(100% / 4);
                &--pc{
                    display: none;
                }
            }
            .l-globalnav__block {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                @include mq(lg) {
                    position: relative;
                    justify-content: center;
                }

                .l-globalnav__link{
                    padding: 20px 0 20px 40px;
                    display: block;
                    width: calc(100% - 30px);
                    position: relative;
                    text-decoration: none;
                    display: flex;
                    flex-flow: nowrap;
                    @include mq(lg) {
                        font-size: 1.4rem;
                        color: #1a1311;
                        text-decoration: none;
                        width: auto;
                        padding: 0;
                        font-size: 1.6rem;
                        display: flex;
                        flex-flow: column;
                    }
                    &.hover{
                        @include mq(lg) {
                            color: $blue-hover;
                            transition: color .5s;
                        }
                    }
                    &::before{
                        position: absolute;
                        display: block;
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-right: 1px solid $black;
                        border-bottom: 1px solid $black;
                        transform: translateY(-50%) rotate(-45deg);
                        top: 50%;
                        left: 0;
                        transform-origin: center;
                        @include mq(lg) {
                            content: none;
                        }
                    }
                    span {
                        color: $black;
                        padding-left: 20px;
                        display: flex;
                        align-items: center;
                        @include mq(lg) {
                            padding: 0;
                        }
                    }
                    picture {
                        text-align: center;
                        width: 100px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .l-globalnav__link--arrow {
                    display: block;
                    width: 20px;
                    height: 20px;
                    z-index: var(--arrow);
                    background-color: transparent;
                    position: relative;
                    transform: rotateX(0deg);
                    transition: transform .5s;
                    cursor: pointer;
                    @include mq(lg) {
                        display: none;
                    }
                    &::after{
                        position: absolute;
                        display: block;
                        content: "";
                        width: 12px;
                        height: 12px;
                        border-right: 1px solid $black;
                        border-bottom: 1px solid $black;
                        transform: translate(-50%,-50%) rotate(45deg);
                        top: 35%;
                        left: 50%;
                        transform-origin: center;
                        @include mq(lg) {
                            content: none;
                        }
                    }
                    &.open{
                        transform: rotateX(180deg);
                        transition: transform .5s;
                    }
                }
            }
            
            &--parent{
                .l-globalnav__child {
                    display: none;
                    border-top: 1px dotted $orange;
                    padding: 0;
                    .l-globalnav__granchild {
                        border-bottom: 1px dashed $orange;
                        &:last-child{
                            border-bottom: 0px dashed $orange;      
                        }
                        .l-globalnav__link{
                            color: $black;
                            text-decoration: none;
                            font-size: 1.6rem;
                            padding: 15px 0 15px 15px;
                            display: block;
                            position: relative;
                            &::before{
                                position: absolute;
                                display: block;
                                content: "";
                                width: 8px;
                                height: 8px;
                                border-right: 1px solid $orange;
                                border-bottom: 1px solid $orange;
                                transform: translateY(-50%) rotate(-45deg);
                                top: 50%;
                                left: 0;
                                transform-origin: center;
                            }
                        }
                    }
                }
            }
            &--single{
                a{
                    font-size:1.8rem;
                    color: $black;
                    text-align: left;
                    text-decoration: none;
                    padding: 20px 0 20px 40px;
                    display: block;
                    position: relative;
                    display: flex;
                    flex-flow: nowrap;
                    @include mq(lg) {
                        font-size:1.6rem;
                        color: #1a1311;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        flex-flow: column;
                        padding: 0;
                    }
                    &:hover{
                        @include mq(lg) {
                            color: $blue-hover;
                            transition: color .5s;
                        }
                    }
                    &::before{
                        position: absolute;
                        display: block;
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-right: 1px solid $black;
                        border-bottom: 1px solid $black;
                        transform: translateY(-50%) rotate(-45deg);
                        top: 50%;
                        left: 0;
                        transform-origin: center;
                        @include mq(lg) {
                            content: none;
                        }
                    }
                    span {
                        color: $black;
                        padding-left: 20px;
                        display: flex;
                        align-items: center;
                        @include mq(lg) {
                            padding: 0;
                        }
                    }
                } 
                picture {
                    width: 100px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            &.global_nav_contact{
                a{
                    font-size:1.8rem;
                    color: #fff;
                    text-align: left;
                    text-decoration: none;
                    padding: 20px 0 20px 20px;
                    display: block;
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 12px;
                        background-image: url(common/images/mail_ico.png);
                        background-repeat: no-repeat;
                        top: 50%;
                        transform: translateY(-50%);
                        background-size: contain;
                        left: 0;
                        border: none;
                    }
                }
            }
        }
    }
    .l-globalnav__blockContact {
        padding-top: 40px;
        border-top: solid 4px #ff9c33;
        margin: 0 20px;
        &-inner {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin-top: 32px;
          }
    }
    @include mq(lg) {
        .l-globalnav__inner{
            .l-globalnav__list{
                &--parent{
                    .l-globalnav__child {
                        display: none;
                        padding: 0;
                        background-color: $orange;
                        width: 220px;
                        color: #fff;
                        justify-content: flex-start;
                        flex-flow: column;
                        position: absolute;
                        left: 50%;
                        height: auto;
                        top: 100%;
                        border: 0px;
                        transform: translateX(-50%);
                        border: 1px solid $orange;
                        &.l-globalnav__child2 {
                            width: 200px;
                        }
                        &.child_last{
                            width: 180px;
                        }
                        &::before{
                            border-bottom: 19.2px solid $orange;
                            border-left: 11.1px solid transparent; 
                            border-right: 11.1px solid transparent; 
                            height: 0;
                            width: 0;
                            position: absolute;
                            top: 0px;
                            left: 45%;
                            transform: translateY(-50%);
                            content: "";
                        }
                        .l-globalnav__granchild {
                            width: auto;
                            height: 40px;
                            border-bottom: 1px solid #fff;
                            position: relative;
                            &::before {
                                content: "";
                                background-color: #fff;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                left: 0;
                                top: 0;
                                transition:transform 0.3s ease-in-out;
                                transform: scale(0,1) translateZ(0);;
                                transform-origin: right;
                            }
                            &:last-child{
                                border-bottom: 0px solid #fff;
                            }
                            &:hover{
                                &::before {
                                    content: "";
                                    background-color: #fff;
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    transition: transform 0.3s ease-in-out ;
                                    transform: scale(1,1) translateZ(0);;
                                    transform-origin: left;
                                }
                            }
                            .l-globalnav__link{
                                color: #fff;
                                padding: 0;
                                position: relative;
                                font-size: 1.4rem;
                                height: 100%;
                                display: flex;
                                flex-flow: column;
                                justify-content: center;
                                align-items: center;
                                transition: color 0.3s ease-in-out;
                                &::before{
                                    content: none;
                                }
                                &::after{
                                    position: absolute;
                                    display: block;
                                    content: "";
                                    width: 8px;
                                    height: 8px;
                                    border-right: 1px solid #fff;
                                    border-bottom: 1px solid #fff;
                                    transform: translateY(-50%) rotate(-45deg);
                                    top: 50%;
                                    right: 10px;
                                    transform-origin: center;
                                }
                                &:hover{
                                    color: $orange;
                                    transition: color 0.3s ease-in-out ;
                                    &::after{
                                        border-right: 1px solid $orange;
                                        border-bottom: 1px solid $orange;
                                    }
                                }
                            }
                            .great_gran_child {
                                display: none !important;
                                .great_great_gran_child{
                                    a{
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                
                &.global_nav_contact{
                    &.white{
                        a{
                        &::before{
                            background-image: url(common/images/mail_ico.png);
                        }
                    }
                    }
                    a{
                        font-size:1.4rem;
                        text-align: left;
                        text-decoration: none;
                        display: block;
                        position: relative;
                        padding-left: 2rem;
                        &::before{
                            content: "";
                            display: block;
                            position: absolute;
                            width: 16px;
                            height: 12px;
                            background-image: url(common/images/mail_ico_black.png);
                            background-repeat: no-repeat;
                            top: 50%;
                            transform: translateY(-50%);
                            background-size: contain;
                            left: 0;
                            border: none;
                        }
                    }
                }
            }
            .l-globalnav__child {
                display: block;
                position: absolute;
            }
        }
    }
}
.l-contactArea {
    display: none;
    margin: 0;
    @include mq(md) {
    }
    @include mq(lg) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }
    @include mq(xl) {
        .l-contactArea__inner {
            .l-contactArea__list {
                font-size: 1.4rem;
                margin-left: 40px;
                &:first-child{
                    margin-left: 0px;
                }
            }
        }
    }
}
.l-header__toggle {
    position: fixed;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
    z-index: var(--header);
    transition: all 1s;
    background-color: $orange;
    color: #fff;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    .l-header__text {
        font-size: 1.1rem;
        margin-bottom: 4px;
    }
    &.is-open {
        .l-header__inner{
            top: 10px;
            width: 30px;
            height: 30px;
            position: relative;
            transition: all 1s;
            .l-header__inner--bar1 {
                border-top: 2px solid #fff;
                top: 2px;
                transition: all .5s ease;
                transform-origin: left top;
                transform: rotate(45deg);
                left: 5px;
            }
            .l-header__inner--bar2 {
                border-top: 2px solid #fff;
                transform: translate(-50%,-100%) scale(0, 1);
                width: 36px;
                transition: all .5s ease;
                transform-origin: center top;
            }
            .l-header__inner--bar3 {
                border-bottom: 2px solid #fff;
                bottom: 2px;
                transition: all .5s ease;
                transform-origin: left bottom;
                transform: rotate(-45deg);
                left: 5px;
            }
        }
    }
    .l-header__inner{
        top: 10px;
        width: 30px;
        height: 30px;
        position: relative;
        transition: all 1s;
            .l-header__inner--bar1 {
                width: 36px;
                display: block;
                border-top: 2px solid #fff;
                position: absolute;
                top: 0;
                transition: all .5s ease;
                transform: translate(-50%, -50%);
                left: 50%;
            }
            .l-header__inner--bar2 {
                width: 36px;
                display: block;
                border-top: 2px solid #fff;
                position: absolute;
                top: 50%;
                transition: all .5s ease;
                transform: translate(-50%,-100%) scale(1, 1);
                left: 50%;
            }
            .l-header__inner--bar3 {
                width: 36px;
                display: block;
                border-bottom: 2px solid #fff;
                position: absolute;
                bottom: 0;
                transition: all .5s ease;
                transform: translate(-50%, -50%);
                left: 50%;
            }
    }
    @include mq(lg) {
        display: none;
    }
}