// 用途による色
$white: #fff;
$grad-start: #FF0000;
$grad-end: #650000;



$white: #FFF;
$black: #1E313B;
$pink: #FF7C9F;
$orange: #FF8900;
$beige:#FFC042;
$green:#4DC0B2;
$blue: #005ab5;
$blue-hover: #005ab5;

$color-alert: #C70000;
